<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div style="width: 360px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; padding-top: 150px;">
    <div><strong style="width: 350px; height: 48px; border-radius: 2px; text-align: center; font-size: 18px;">Sin Up</strong></div>
    <div><input type="text" style="width: 350px; height: 48px;border-radius: 2px;"/></div>
    <div><input type="text" style="width: 350px; height: 48px;border-radius: 2px;"/></div>
    <div><input type="text" style="width: 350px; height: 48px;border-radius: 2px;"/></div>
    <div><button type="submit" style="width: 350px; height: 48px;border-radius: 2px;background: #7266ba; font-size: 18px;">Sin Up</button></div>
</div>
</body>
</html>
